.app-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  background-color: #f3f3f3;
  padding: 1%;
}
h1 {
  text-align: center;
}
.info {
  padding: 3% 3% 0 3%;
  background-color: rgb(255, 255, 255);
  grid-column: 1 / 2;
  grid-row: 1 / 7;
  height: 100vh;
  border: 2px solid rgba(185, 185, 185, 0.432);
  overflow-y: scroll;
}
.map-container {
  background-color: white;
  border: 2px solid rgba(185, 185, 185, 0.432);
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  border-radius: 5%;
  padding: 1%;
}
.covid-tips {
  background-color: white;
  border-radius: 8%;
  border: 2px solid rgba(185, 185, 185, 0.432);
  grid-column: 2 / 4;
  grid-row: 4 / 5;
  width: 100%;
}
.info-box {
  border-radius: 8%;
  grid-column: 2 / 4;
}