.map {
  border: 1px solid rgba(128, 128, 128, 0.432);
}
.buttons {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
}
.map-wrapper {
  padding: 1%;
}
.btn-style {
  color: white;
  background-color: black;
}