.map {
  border-radius: 5%;
  background-color: rgb(0, 192, 134);
}
.buttons {
  background-color: rgb(252, 200, 211);
  display: flex;
  justify-content: space-around;
}
.map-wrapper {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
}